@page "/my-orders"
@attribute [Authorize]
@inject OrderHttpClient Http

<h1>Orders</h1>

@if (products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>OrderdAt</th>
                <th>Amount To Pay</th>
                <th>Delivery Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    <td>@product.OrderdAt.ToLocalTime()</td>
                    <td>@product.AmountToPay</td>
                    @if (product.IsDelivered)
                    {
                        <td>Delivered</td>
                    }
                    else
                    {
                        <td>Processing</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<MyOrderViewModel> products;
    protected override async Task OnInitializedAsync()
    {
        products = await Http.GetMyOrdersAsync();
    }
}
