@page "/orders"
@attribute [Authorize]
@inject OrderHttpClient Http

<h1>Orders</h1>

@if (products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>OrderdAt</th>
                <th>Amount To Pay</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in products)
            {
                <tr>
                    <td>@forecast.OrderdAt.ToLocalTime()</td>
                    <td>@forecast.AmountToPay</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<OrderViewModel> products;
    protected override async Task OnInitializedAsync()
    {
        products = await Http.GetMyOrdersAsync();
    }
}
