@inherits LayoutComponentBase
@implements IAsyncDisposable
@inject IJSRuntime jsRuntime
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    private HubConnection hubConnection;
    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
           .WithUrl("https://localhost:44394/notificationHub")
           .Build();

        hubConnection.On<string, string>("Notification", async (user, message) =>
        {
            var encodedMsg = $"{message}, {user}";
            await jsRuntime.InvokeAsync<string>("console.log", encodedMsg);
            StateHasChanged();
        });

        await hubConnection.StartAsync();
    }

    public bool IsConnected =>
       hubConnection.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        await hubConnection.DisposeAsync();
    }
}